main {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    p.wave {
        font-size: 4rem;
        line-height: 4rem;
    }
}